.art1 {
	background-color: lavender;
	font-family: times;
}



.art2 {
	background-color: gold;
	font-family: cursive;
}



.art3 {
	background-color: limegreen;
	font-family: helvetica;
}



.art4 {
	background-color: orange;
	font-family: tahoma;
}



.art5 {
	background-color: skyblue;
	font-family: verdana;
}