.art1 {
	background-color: lavender;
}



.art1 {
	background-color: gold;
}



.art1 {
	background-color: limegreen;
}



.art1 {
	background-color: orange;
}



.art1 {
	background-color: skyblue;
}