.art1 {
	background-color: lavender;
	font-family: times;
	font-size: 20px;
	color: salmon;
	line-height: 20px;
}



.art2 {
	background-color: gold;
	font-family: cursive;
	font-size: 30px;
	color: navy;
	line-height: 30px;
}



.art3 {
	background-color: limegreen;
	font-family: arial;
	font-size: 15px;
	color: tomato;
	line-height: 67px;
}



.art4 {
	background-color: orange;
	font-family: impact;
	font-size: 18px;
	color: maroon;
	line-height: 45px;
}



.art5 {
	background-color: skyblue;
	font-family: "Avant Garde";
	font-size: 23px;
	color: darkgreen;
	line-height: 65px;
}